@model bool

@{
    string id_barra = Model ? "redirecionar-pesquisa" : "autocomplete-pesquisa";
    string id_resposta = Model ? "redirecionar-resposta" : "autocomplete-resposta";
}

<div class="position-relative w-100">
    <!-- A barra de pesquisa -->
    <input type="text" id="@id_barra" class="form-control" name="Ticker" @* Funciona como o asp-for, porém é um atributo padrão do HTML, não do ASP.NET *@
     placeholder="Digite o ativo..."
        oninput="BuscarAtivo(this.value, '#@id_resposta', '#@id_barra', (@Model.ToString().ToLower()))" />

    <!-- Container para exibir autocomplete -->
    <div id="@id_resposta" class="sugestao list-group position-absolute w-100 shadow-sm"
        style="z-index: 1000; display: none;"> <!-- Exibe sobre qualquer outro elemento, por enquanto invisível -->
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@* // Construção do componente da sugestão de ativos *@
<script>
    // Função chamada sempre que o usuário digita
    function BuscarAtivo(ativo, sugestao, barra, redirecionar) {
        // Se digitar menos de 2 caracteres, não haverá sugestão
        if (ativo.length < 2) {
            $(sugestao).hide().html('');
            return;
        }

        // AJAX para o controller
        $.ajax({
            type: 'GET',
            dataType: 'json', // // Convertendo do endpoint para Json
            url: `/Ativo/PesquisaAtivo?ticker=${ativo.toUpperCase()}`, // Endpoint do controller para pesquisa
            success: function (data) {
                // Guard Clause para ativos não retornados, minimizando uso de elses
                if (data.length < 1 || data === null) {
                    $(sugestao).hide();
                    return; // Para parar aqui se não houver um ativo retornado
                }

                // Insere o ativo retornado da action num botão na div sugestão
                $(sugestao).html(`
                    <button type="button" class="list-group-item list-group-item-action">
                        ${data.stock}
                    </button>
                `).show();

                if (redirecionar == true) {
                       $(`${sugestao} button`).wrap(`<a style="text-decoration: none;" href="/Ativo/Detalhamento?ticker=${data.stock}"></a>`); //Botão "vira" um link
                }
                else {
                    // Ao clicar na sugestão de pesquisa ele autocompleta o input
                    $(sugestao).on('click', function () { // .off() remove a trigger no parâmetro
                        // Coloca o texto do json na barra de pesquisa
                        $(barra).val(data.stock.trim());

                        // Oculta as sugestões depois de escolher
                        $(sugestao).hide();
                    });
                }
            },
            error: function () {
                // Em caso de erro, não haverá sugestão
                $(sugestao).hide().html('');
            }
        });
    }
</script>
