@model CarteiraAtivos.Models.AtivoModel

<div class="modal-header">
  <h5 class="modal-title" id="modalLabel">Confirmar Exclusão</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
</div>

<div class="modal-body">
  Tem certeza que deseja excluir o ativo <strong>@Model.Ticker</strong>?
</div>

<div class="modal-footer">
  <form asp-controller="Ativo" asp-action="Apagar" method="post">
    <input type="hidden" name="ativoId" value="@Model.Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
  </form>
</div>
