@using CarteiraAtivos.Models
@model AtivoModel

@{
   ViewData["Title"] = "Cadastro de Ativo";
}

@if (TempData["Erro"] != null)
  {
    <div class="alert alert-danger" role="alert">
      <button type="button" class="btn-close" aria-label="Close"></button>
      @TempData["Erro"]
    </div>
  }

<main>
   <h2>@ViewData["Title"]</h2>
   
   <form asp-controller="Ativo" asp-action="Criar" method="post">

      <div class="mb-3">
         <label for="Ticker">Ticker</label>
         <input type="text" class="form-control" asp-for="Ticker">
         @Html.ValidationMessageFor(x => x.Ticker)
      </div>

      <div class="mb-3">
         <label for="Cotas" class="form-label">Cotas</label>
         <input type="text" class="form-control" asp-for="Cotas">
         @Html.ValidationMessageFor(x => x.Cotas)
      </div>

      <div id="valorTotal" class="form-text">O valor total é R$111,00</div>

      <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
   </form>

</main>