@using CarteiraAtivos.Dtos
@model AtivoApiDto

@{
    ViewData["Title"] = "Detalhamento de Ativo";
}

<div>
    @if (Model != null)
    {   
        <main class="container-detalhamento">
           <div class="card-detalhamento">@Model.Ticker</div>
           <div class="card-detalhamento">@((Model.Tipo == "stock" || Model.Tipo == "bdr") ? "Ação" : "FII")</div>
           @* Operação ternária para tradução *@
           <div class="card-detalhamento">R$@Model.Cotacao.ToString()</div>
        </main>

        <div class="grafico-historico">
            @await Component.InvokeAsync("GraficoHistorico", new { ticker = Model.Ticker })
        </div>
    }   
</div>  