@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Carteira de Ativos</h1>
    <a asp-action="Index" asp-controller="Ativo">Veja sua lista aqui.</a>
</div>
