html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Solução simples para corrigir Layout */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Altura do footer */
}

footer .container {
  display: flex;
  align-items: center;
  height: 100%;
}

header .container-fluid {
  margin-left: 8%;
}

.btn-cadastro {
  margin-bottom: 17px;
}

.btn-redefinir-senha {
  display: flex;
  align-self: center;
  margin-bottom: 17px;
}

.field-validation-error {
  color: #e23838
}