html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  margin-bottom: 60px;
}

/* Solução simples para corrigir Layout */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Altura do footer */
}

footer .container {
  background-color: #202020;
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}

header .container-fluid {
  margin-left: 8%;
}

.btn-cadastro {
  margin-bottom: 17px;
}

.btn-redefinir-senha {
  display: flex;
  align-self: center;
  margin-bottom: 17px;
}

.field-validation-error {
  color: #e23838
}

.card-detalhamento {
    background: #aeebc5;
    background: linear-gradient(90deg,rgba(174, 235, 197, 1) 0%, rgba(39, 204, 108, 1) 50%, rgba(24, 97, 55, 1) 100%);
    border-radius: 10px;
    display: flex;
    width: 25vw;
    height: 25vh;
    font-size: 5em;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    color:#2d332b;
    box-shadow: rgba(21, 161, 79, 0.4) 0px 5px, rgba(16, 78, 42, 0.3) 0px 10px, rgba(26, 122, 66, 0.2) 0px 15px, rgba(18, 61, 36, 0.1) 0px 20px, rgba(24, 97, 55, 0.05) 0px 25px;
  }

.container-detalhamento {
    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.grafico-historico {
  margin-top: 7%;
  background-color: #242c26b4;
  border-radius: 10px;
  padding: 5%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn-index-ativo {
  width: 49.8%; /* Gambiarra pra deixar os dois grandes lado a lado */
}

#modalEscolhaNegociacaoAtivo {
  background-color: #202020;
  color: white;
  border: 1px black solid;
  border-radius: 10px;
  width: 55%;
  height: 85%;
}

/* Altera a tela atrás do modal - chamada de backdrop  */
#modalEscolhaNegociacaoAtivo::backdrop {
  background: rgba(0, 0, 0, 0.4);   /* Escurece o fundo */
  backdrop-filter: blur(1px);       /* Aplica desfoque */
}

#btn-modal-close {
  margin-left: 95%;
  margin-bottom: 20px;
}

#btn-modal-close:hover {
  background-color: rgba(180, 180, 180, 0.301);
  transition: all 0.3s;
}

#btn-modal-close:active, #btn-modal-close:focus {
  box-shadow: 0 0 0 0;
}

#loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 3%;
}

#loginContainer form {
  width: 40dvw;
  height: 60dvh;
  border-radius: 10px;
  background-color: #111111;
  padding: 5%;

}

body {
  background-color: #202020;
  color: white;
}

.table {
  color: white;
}

#modalDeletarAtivo .modal-dialog .modal-content {
  background-color: #202020;
} 