@using CarteiraAtivos.Dtos
@model List<PrecoHistoricoDto>

<h2>Histórico de preços</h2>

<div>
    <canvas id="graficoPrecos"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
   // Serializa em Json novamente para integração correta com JavaScript
   @* @Html.Raw: força o Json do C# virar HTML puro para o JavaScript conseguir interpretar *@
    const dados = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model));

   // Mapeia os dados para o gráfico: mapeamento funciona como um for, mas na programação funcional

   // Colunas => convertendo TimeStamp para Date
    const colunas = dados.map(d => new Date(d.date * 1000).getDate());
    // Valores
    const valores = dados.map(d => parseFloat((d.close + d.open) / 2).toFixed(2)); // => Preço Médio

    const grafico = document.getElementById('graficoPrecos').getContext('2d');

    new Chart(grafico, {
        type: 'line',
        data: {
            labels: colunas,
            datasets: [{
                label: 'Preço (R$)',
                data: valores,
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgb(54, 162, 235)',
                borderWidth: 2,
                fill: true,
                tension: 0.8 // Curva suave
            }]
        },
        options: {
            responsive: true,
            scales: {
                y: {
                    beginAtZero: false
                }
            }
        }
    });
</script>
